* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000; /* Fundo absoluto */
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IM Fell English SC', serif;
    cursor: url('https://cur.cursors-4u.net/symbols/sym-1/sym49.cur'), crosshair;
}

/* A LANTERNA: Camada que escurece e revela */
#lanterna {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    pointer-events: none;
    background: radial-gradient(circle 150px at center, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.99) 100%);
}

.santuario-container {
    text-align: center;
    z-index: 10;
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FRASES ESCONDIDAS (ECOS) */
.eco {
    position: absolute;
    font-size: 0.8rem;
    letter-spacing: 5px;
    width: max-content;
    pointer-events: none;
    text-transform: uppercase;
    opacity: 0.4;
    animation: cicloCores 25s ease infinite;
}

/* TEXTOS PRINCIPAIS */
.vulto-texto p {
    font-size: 1.6rem;
    margin-bottom: 10px;
    filter: blur(0.5px);
    animation: cicloCores 25s ease infinite;
}

.titulo-eterno {
    font-family: 'Cinzel', serif;
    letter-spacing: 12px;
    font-size: 3.5rem;
    margin: 40px 0;
    animation: cicloCores 25s ease infinite;
}

#mural-eterno {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 6rem;
}

.infinito {
    display: inline-block;
    animation: heartPulse 1.1s infinite ease-in-out, cicloCores 25s ease infinite;
}

.frase-final {
    margin-top: 50px;
    font-size: 1.1rem;
    opacity: 0.6;
    animation: cicloCores 25s ease infinite;
}

/* CICLO DE CORES GÓTICO */
@keyframes cicloCores {
    0%, 100% { color: #a11228; text-shadow: 0 0 10px rgba(161, 18, 40, 0.5); }
    25% { color: #1e3a5f; text-shadow: 0 0 10px rgba(30, 58, 95, 0.5); }
    50% { color: #ff69b4; text-shadow: 0 0 10px rgba(255, 105, 180, 0.5); }
    75% { color: #777; text-shadow: 0 0 10px rgba(119, 119, 119, 0.5); }
}

/* BATIMENTO VISUAL */
@keyframes heartPulse {
    0%, 100% { transform: scale(1); }
    15% { transform: scale(1.2); }
    45% { transform: scale(1.1); }
}